<%-include('../headers.ejs')%>
<script>
    function go() {
    let newpassword = document.getElementById('newpassword').value;

    let oldPassword = document.getElementById('oldPassword').value;
    let confirmpassword = document.getElementById('confirmpassword').value;
    let xml = new XMLHttpRequest();
    let formData = new FormData();
    formData.append('oldPassword',oldPassword);

    formData.append('newpassword',newpassword);
    formData.append('confirmpassword',confirmpassword)

    let category = document.getElementById('category');
    xml.onreadystatechange = function() {
      if(this.readyState ===4 && this.status === 200) {
        console.log(this.response)
        if(this.response == 'success') {
                window.location.href ="/admin/";
        } else if(this.response == 'pass not match') {
            document.getElementById('responce').innerHTML ='<h3 class="text-center text-danger"> OldPassword and newPassword does not matched<h3>';

        }
        }
      }
    
    xml.open('POST','/admin/admin-change-password', true);
    xml.send(formData);
    }
</script>
</head>
<body>
    <%-include('../homebar.ejs')%>
    
    <div class="container">
        <h2 class="text-center text-success">Admin Change Password</h2>
        <div class="col-md-6 offset-3 jumbotron">
            <div id="responce"></div>
            <form>
                <div class="form-group">
                    <div class="col-md-10 mb-4 offset-1">
                        <label for="oldPassword">OldPassword</label>
                        <input type="password" class="form-control" name="oldPassword" id="oldPassword">
                    </div>
                    <div class="col-md-10 mb-4 offset-1">
                        <label for="newpassword">New Password</label>
                        <input type="password" class="form-control" name="newpassword" id="newpassword">
                    </div>
                    <div class="col-md-10 mb-4 offset-1">
                        <label for="confirmpassword">New Password</label>
                        <input type="password" class="form-control" name="confirmpassword" id="confirmpassword">
                    </div>
                    <div class="col-md-10 offset-1">
                       <button onclick="go()" type="button" class="btn btn-primary btn-hover">Change-Password</button>
                    </div>
                
                </div>
            </form>
        </div>
    </div>
</body>
</html>